<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/backoffice/">Travel Agency</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <!-- ajouter classe active pour la selection dynamique (+ l'attribut aria-current="page") -->
              <a class="nav-link mx-2" href="/backoffice/flight-list">Vols</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/backoffice/hotel-list">Hotels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/backoffice/activity-list">Activités</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/backoffice/reservation-list">Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/backoffice/review-list">Commentaires</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/backoffice/user-list">Utilisateurs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>